/* Mainmenu Css for min width 768 */
/* 
@media only screen and (min-width: 768px) {
    .main_menu li {
        display: inline-block;
        position: relative;
    }

    .main_menu li a {
        color: #666666;
        display: block;
        font-size: 14px;
        font-weight: 500;
        padding: 30px 12px;
        position: relative;
        text-decoration: none;
        text-transform: capitalize;
        z-index: 99;
    }

    .main_menu li:last-child a {
        padding-right: 0px;
    }

    .main_menu>li:hover>a,
    .sub_menu>li:hover>a,
    .main_menu li.active a {
        color: #1e92ff;
    }

    ul.sub_menu {
        background: #fff none repeat scroll 0 0;
        border-top: 2px solid #1e92ff;
        opacity: 0;
        position: absolute;
        text-align: left;
        top: 80px;
        -webkit-transform: rotateY(37deg) scale(1, 0.7);
        transform: rotateY(37deg) scale(1, 0.7);
        visibility: hidden;
        width: 183px;
        z-index: 2;
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .sub_menu>li {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
    }

    .sub_menu>li>a {
        display: block;
        line-height: normal;
        margin: 0;
        padding: 14px 25px;
        font-size: 13px;
    }

    .sub_menu>li>a::before {
        content: "\f2f6 ";
        font-family: "Material-Design-Iconic-Font";
        left: 0;
        line-height: 44px;
        opacity: 0;
        padding-left: 8px;
        position: absolute;
        top: 2px;
        visibility: hidden;
        font-size: 17px;
    }

    .sub_menu a:hover:before {
        left: 5px;
        opacity: 1;
        visibility: visible;
    }

    .main_menu>li:hover ul.sub_menu {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        visibility: visible;
    }
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #666;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.naajihun-btn {
    text-align: center;
    margin: 0;
    padding: 13px 32px;
    background: #1A9F68;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    border: 2px solid transparent;
}

.naajihun-btn:hover {
    background: #2E2751;
    color: #fff;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.5);
}

.section-padding {
    padding: 80px 0;
}

/* Headre area */


.header-area {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .1);
}

.site-logo img {
    width: 220px;
}

.mobile-menu.mean-container {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    width: 100%;
}

.site-logo {
    position: relative;
}


/* Home Hero Slider Css */

.home-single-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    position: relative;
}

.hero-slider-text {
    width: 650px;
}

.hero-slider-text h4 {
    color: #179E66;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

.hero-slider-text h1 {
    font-size: 50px;
    line-height: 65px;
    color: #2E2751;
    font-weight: 700;
    margin-bottom: 25px;
}

.hero-slider-text p {
    color: #666;
    margin-bottom: 25px;
}

.welcome-text {
    position: relative;
    height: 700px;
}

.hero-slider-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Slider arrow */
.home-hero-slider .slick-arrow {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.home-hero-slider .slick-arrow {
    background: #F3A712;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.home-hero-slider:hover .slick-arrow {
    opacity: 1;
    visibility: visible;
}

.home-hero-slider .slick-arrow:hover {
    background: #2E2751;
}

.home-hero-slider .slick-arrow i {
    font-size: 20px;
    color: #fff;
}

.home-hero-slider .slick-next.slick-arrow {
    right: 50px;
    left: auto;
}

/* Slider Dots */
.home-hero-slider .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.home-hero-slider .slick-dots {
    display: flex;
    gap: 5px;
}

.home-hero-slider .slick-dots button {
    width: 15px;
    height: 7px;
    text-indent: -999999999px;
    border: 0;
    background: #F3A712;
    border-radius: 50px;
    transition: .5s;
}

.home-hero-slider .slick-dots .slick-active button {
    background: #2E2751;
    width: 20px;
}


/* Slider Animations */
.home-hero-slider .home-single-slider.slick-slide.slick-current.slick-active .hero-slider-text h4 {
    animation: fadeInUp 0.8s both 1s;
}

.home-hero-slider .home-single-slider.slick-slide.slick-current.slick-active .hero-slider-text h1 {
    animation: fadeInRight 1s both 1.2s;
}

.home-hero-slider .home-single-slider.slick-slide.slick-current.slick-active .hero-slider-text p {
    animation: fadeInLeft 1.2s both 1.4s;
}

.home-hero-slider .home-single-slider.slick-slide.slick-current.slick-active .hero-slider-text a {
    animation: fadeInUp 1.4s both 1.6s;
}

/* Work process area */
.work-proccess-area {
    background: #F4F9FC;
}

.single-workproccess-area {
    text-align: center;
    padding: 30px 15px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    border-top: 3px solid transparent;
    transition: all 0.4s ease;
}

.single-workproccess-area .icon-head i {
    color: #f3a712;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 100%;
    font-size: 34px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single-workproccess-area h4 {
    margin: 15px 0;
    color: #2E2751;
    font-size: 20px;
}

.single-workproccess-area:hover .icon-head i {
    background: #179E66;
    color: #fff;
    border-color: transparent;
}

.single-workproccess-area:hover {
    border-top-color: #179E66;
}